<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<!-- 加载spring配置文件(as:applicationContext.xml) -->
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
 	<!-- 指明spring配置文件在何处 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
       	<param-value>
       		/WEB-INF/classes/spring.xml
       	</param-value>
	</context-param>
	
	<!-- HESSIAN服务 -->
	<servlet>
		<servlet-name>hessian</servlet-name>
		<servlet-class>  
        	org.springframework.web.servlet.DispatcherServlet  
    	</servlet-class>
	    <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/hessian-servlet.xml</param-value>
	    </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  	<servlet-mapping>
		<servlet-name>hessian</servlet-name>
		<url-pattern>/hs/*</url-pattern>
	</servlet-mapping>
	
	<!-- servlet 编码过滤器 -->
	<filter>
		<filter-name>CharacterEncoding Filter</filter-name>
		<filter-class>
			org.eapp.util.web.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncoding Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 单点退出 -->
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 单点登录 -->
	<filter>
		<filter-name>CAS Filter</filter-name>
		<filter-class>
			org.eapp.oa.system.cas.filter.CASFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/m/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/page/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/upload/*</url-pattern>
	</filter-mapping>


	<!-- 附件过滤器 -->
	<filter>
		<filter-name>FileFilter</filter-name>
		<filter-class>
			org.eapp.util.web.upload.FileFilter
		</filter-class>
		<init-param>
			<param-name>fileNameEncoding</param-name>
			<param-value>iso-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>fileNameToEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FileFilter</filter-name>
		<url-pattern>/upload/*</url-pattern>
	</filter-mapping>
	
	<!-- servlet 监听器 -->
	<listener>
		<listener-class>
			org.eapp.oa.system.ctrl.ServletListener
		</listener-class>
	</listener>
	
	<!-- =============以下是servlet映射表=================================== -->
	<servlet>
		<servlet-name>ServletListener</servlet-name>
		<servlet-class>
			org.eapp.oa.system.ctrl.ServletListener
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletListener</servlet-name>
		<url-pattern>/m/datadictreload</url-pattern>
	</servlet-mapping>
	
	<!-- 系统登出-->
	<servlet>
		<display-name>系统登出</display-name>
		<servlet-name>LogoutCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.system.ctrl.LogoutCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutCtrl</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<!-- 首页门户接口-->
	<servlet>
		<display-name>首页门户接口</display-name>
		<servlet-name>PortletCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.system.ctrl.PortletCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortletCtrl</servlet-name>
		<url-pattern>/page/portlet</url-pattern>
	</servlet-mapping>
	
	
	<!-- ======系统管理====== -->
	<servlet>
		<display-name>流程数据库管理</display-name>
    	<servlet-name>FlowDataCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.flow.ctrl.FlowDataCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>FlowDataCtrl</servlet-name>
    	<url-pattern>/m/flow_data</url-pattern>
  	</servlet-mapping>
	
	<servlet>
		<display-name>流程实例管理</display-name>
    	<servlet-name>FlowInstCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.flow.ctrl.FlowInstCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>FlowInstCtrl</servlet-name>
    	<url-pattern>/m/flow_inst</url-pattern>
  	</servlet-mapping>
  	
  	<!-- 流程配置 -->
	<servlet>
		<display-name>流程草稿</display-name>
		<servlet-name>FlowDraftCtrl</servlet-name>
		<servlet-class>org.eapp.oa.flow.ctrl.FlowDraftCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlowDraftCtrl</servlet-name>
		<url-pattern>/m/flow_draft</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>已发布流程</display-name>
		<servlet-name>FlowPublishCtrl</servlet-name>
		<servlet-class>org.eapp.oa.flow.ctrl.FlowPublishCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlowPublishCtrl</servlet-name>
		<url-pattern>/m/flow_man</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>流程知会</display-name>
		<servlet-name>FlowNotifyCtrl</servlet-name>
		<servlet-class>org.eapp.oa.flow.ctrl.FlowNotifyCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlowNotifyCtrl</servlet-name>
		<url-pattern>/m/flow_notify</url-pattern>
	</servlet-mapping>
	
	<!-- ======文件审批====== -->
  	<!-- 参数配置 -->
  	<servlet>
  		<display-name>文件类别设置</display-name>
    	<servlet-name>DocClassCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.doc.ctrl.DocClassCtrl</servlet-class>
    	<init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>-1</param-value>
		</init-param>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>DocClassCtrl</servlet-name>
    	<url-pattern>/m/doc_class</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<display-name>编号规则设置</display-name>
    	<servlet-name>DocNumberCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.doc.ctrl.DocNumberCtrl</servlet-class>
    	<init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>-1</param-value>
		</init-param>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>DocNumberCtrl</servlet-name>
    	<url-pattern>/m/doc_no</url-pattern>
  	</servlet-mapping>
  	<!-- 日常文件审批 -->
  	<servlet>
  		<display-name>日常文件审批流程（草稿）</display-name>
	    <servlet-name>CommonFileDraftCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.doc.ctrl.CommonFileDraftCtrl</servlet-class>
	    <init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>-1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	  <servlet-name>CommonFileDraftCtrl</servlet-name>
	  <url-pattern>/m/nor_start</url-pattern>
	</servlet-mapping>
 	<servlet>
 		<display-name>日常文件审批流程（待办）</display-name>
		<servlet-name>CommonFileDealCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.doc.ctrl.CommonFileDealCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CommonFileDealCtrl</servlet-name>
	    <url-pattern>/m/nor_deal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>日常文件审批流程（跟踪）</display-name>
	    <servlet-name>CommonFileTrackCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.doc.ctrl.CommonFileTrackCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CommonFileTrackCtrl</servlet-name>
	    <url-pattern>/m/nor_track</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>日常文件审批流程（归档）</display-name>
		<servlet-name>CommonFileArchCtrl</servlet-name>
   		<servlet-class>org.eapp.oa.doc.ctrl.CommonFileArchCtrl</servlet-class>
	</servlet>
  	<servlet-mapping>
    	<servlet-name>CommonFileArchCtrl</servlet-name>
    	<url-pattern>/m/nor_arch</url-pattern>
 	</servlet-mapping>
 	<!-- 公文文件审批 -->
  	<servlet>
  		<display-name>红头文件审批流程（草稿）</display-name>
	    <servlet-name>DocumentDraftCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.doc.ctrl.DocumentDraftCtrl</servlet-class>
	    <init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>-1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocumentDraftCtrl</servlet-name>
		<url-pattern>/m/dis_start</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>红头文件审批流程（待办）</display-name>
		<servlet-name>DocumentDealCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.doc.ctrl.DocumentDealCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DocumentDealCtrl</servlet-name>
	    <url-pattern>/m/dis_deal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>红头文件审批流程（跟踪）</display-name>
	    <servlet-name>DocumentTrackCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.doc.ctrl.DocumentTrackCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DocumentTrackCtrl</servlet-name>
	    <url-pattern>/m/dis_track</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>红头文件审批流程（归档）</display-name>
		<servlet-name>DocumentArchCtrl</servlet-name>
   		<servlet-class>org.eapp.oa.doc.ctrl.DocumentArchCtrl</servlet-class>
	</servlet>
  	<servlet-mapping>
    	<servlet-name>DocumentArchCtrl</servlet-name>
    	<url-pattern>/m/dis_arch</url-pattern>
 	</servlet-mapping>
 	
 	<!-- ======信息发布平台====== -->
	<!-- 参数设置 -->
	<servlet>
		<display-name>参数设置</display-name>
    	<servlet-name>InfoParameterCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.info.ctrl.InfoParameterCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>InfoParameterCtrl</servlet-name>
    	<url-pattern>/m/info_param</url-pattern>
  	</servlet-mapping>
  	<!-- 信息审批流程 -->
  	<servlet>
  		<display-name>信息审批流程（草稿）</display-name>
    	<servlet-name>InformationDraftCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.info.ctrl.InformationDraftCtrl</servlet-class>
    	<init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>-1</param-value>
		</init-param>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>InformationDraftCtrl</servlet-name>
    	<url-pattern>/m/info_draft</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<display-name>信息审批流程（待办）</display-name>
    	<servlet-name>InformationDealCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.info.ctrl.InformationDealCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>InformationDealCtrl</servlet-name>
    	<url-pattern>/m/info_deal</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<display-name>信息审批流程（跟踪）</display-name>
    	<servlet-name>InformationTrackCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.info.ctrl.InformationTrackCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>InformationTrackCtrl</servlet-name>
    	<url-pattern>/m/info_track</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<display-name>信息审批流程（归档）</display-name>
    	<servlet-name>InformationArchCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.info.ctrl.InformationArchCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>InformationArchCtrl</servlet-name>
    	<url-pattern>/m/info_arch</url-pattern>
  	</servlet-mapping>
  	<!-- 已发布公告 -->
  	<servlet>
  		<display-name>已发布信息查询</display-name>
    	<servlet-name>InformationCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.info.ctrl.InformationCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>InformationCtrl</servlet-name>
    	<url-pattern>/m/info_man</url-pattern>
  	</servlet-mapping>
 	
 	<!-- ======通讯录====== -->
	<servlet>
		<display-name>我的资料</display-name>
		<servlet-name>MyAddressCtrl</servlet-name>
		<servlet-class>org.eapp.oa.address.ctrl.MyAddressCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyAddressCtrl</servlet-name>
		<url-pattern>/m/myaddr</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>所有通讯录</display-name>
		<servlet-name>AddressListCtrl</servlet-name>
		<servlet-class>org.eapp.oa.address.ctrl.AddressListCtrl</servlet-class>
		<init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>1024000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressListCtrl</servlet-name>
		<url-pattern>/m/addrlist</url-pattern>
	</servlet-mapping>
	
	<!-- ======报销管理====== -->
	<!-- 报销流程 -->
	<servlet>
		<display-name>报销单（草稿）</display-name>
		<servlet-name>ReimbursementStartCtrl</servlet-name>
		<servlet-class>org.eapp.oa.reimburse.ctrl.ReimbursementStartCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReimbursementStartCtrl</servlet-name>
		<url-pattern>/m/rei_start</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>报销单（待办）</display-name>
		<servlet-name>ReimbursementDealCtrl</servlet-name>
		<servlet-class>org.eapp.oa.reimburse.ctrl.ReimbursementDealCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReimbursementDealCtrl</servlet-name>
		<url-pattern>/m/rei_deal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>报销单（跟踪）</display-name>
		<servlet-name>ReimbursementTrackCtrl</servlet-name>
		<servlet-class>org.eapp.oa.reimburse.ctrl.ReimbursementTrackCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReimbursementTrackCtrl</servlet-name>
		<url-pattern>/m/rei_track</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>报销单（归档）</display-name>
		<servlet-name>ReimbursementArchCtrl</servlet-name>
		<servlet-class>org.eapp.oa.reimburse.ctrl.ReimbursementArchCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReimbursementArchCtrl</servlet-name>
		<url-pattern>/m/rei_arch</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>报销单查询</display-name>
		<servlet-name>ReimbursementCtrl</servlet-name>
		<servlet-class>org.eapp.oa.reimburse.ctrl.ReimbursementCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReimbursementCtrl</servlet-name>
		<url-pattern>/m/bud_bxdcxcw</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>费用明细查询</display-name>
		<servlet-name>OutlayListCtrl</servlet-name>
		<servlet-class>org.eapp.oa.reimburse.ctrl.OutlayListCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OutlayListCtrl</servlet-name>
		<url-pattern>/m/bud_fymxcw</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>报销流程配置</display-name>
		<servlet-name>ReimFlowConfCtrl</servlet-name>
		<servlet-class>org.eapp.oa.reimburse.ctrl.ReimFlowConfCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReimFlowConfCtrl</servlet-name>
		<url-pattern>/m/rei_param</url-pattern>
	</servlet-mapping>
	
	<!-- ======请假管理====== -->
	<!-- 请假流程 -->
	<servlet>
		<display-name>请假单（草稿）</display-name>
		<servlet-name>HolidaysStartCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.HolidaysStartCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolidaysStartCtrl</servlet-name>
		<url-pattern>/m/holi_start</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>请假单（待办）</display-name>
		<servlet-name>HolidaysDealCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.HolidaysDealCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolidaysDealCtrl</servlet-name>
		<url-pattern>/m/holi_deal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>请假单（跟踪）</display-name>
		<servlet-name>HolidaysTrackCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.HolidaysTrackCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolidaysTrackCtrl</servlet-name>
		<url-pattern>/m/holi_track</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>请假单（归档）</display-name>
		<servlet-name>HolidaysArchCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.HolidaysArchCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolidaysArchCtrl</servlet-name>
		<url-pattern>/m/holi_arch</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>请假单（查询）</display-name>
		<servlet-name>HolidaysQueryCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.HolidaysQueryCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolidaysQueryCtrl</servlet-name>
		<url-pattern>/m/holi_query</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>请假流程配置</display-name>
		<servlet-name>HolidayFlowConfCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.HRFlowConfCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolidayFlowConfCtrl</servlet-name>
		<url-pattern>/m/holi_flow</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>假种配置</display-name>
		<servlet-name>HolidayTypeCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.HolidayTypeCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolidayTypeCtrl</servlet-name>
		<url-pattern>/m/holi_type</url-pattern>
	</servlet-mapping>
	<!-- 入职离职流程 -->
	<servlet>
		<display-name>入职离职单（草稿）</display-name>
		<servlet-name>StaffFlowStartCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.StaffFlowStartCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffFlowStartCtrl</servlet-name>
		<url-pattern>/m/staff_start</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>入职离职单（待办）</display-name>
		<servlet-name>StaffFlowDealCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.StaffFlowDealCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffFlowDealCtrl</servlet-name>
		<url-pattern>/m/staff_deal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>入职离职单（跟踪）</display-name>
		<servlet-name>StaffFlowTrackCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.StaffFlowTrackCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffFlowTrackCtrl</servlet-name>
		<url-pattern>/m/staff_track</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>入职离职单（归档）</display-name>
		<servlet-name>StaffFlowArchCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.StaffFlowArchCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffFlowArchCtrl</servlet-name>
		<url-pattern>/m/staff_arch</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>员工信息查询</display-name>
		<servlet-name>StaffFlowQueryCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.StaffFlowQueryCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffFlowQueryCtrl</servlet-name>
		<url-pattern>/m/staff_query</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>员工信息提醒查询</display-name>
		<servlet-name>StaffFlowPromptQueryCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.StaffFlowPromptQueryCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaffFlowPromptQueryCtrl</servlet-name>
		<url-pattern>/m/staff_prompt</url-pattern>
	</servlet-mapping>
	<!-- 工资条 -->
	<servlet>
		<display-name>工资条</display-name>
		<servlet-name>SalaryBillCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.SalaryBillCtrl</servlet-class>
		<init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>-1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalaryBillCtrl</servlet-name>
		<url-pattern>/m/salary_bill</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>工资条（个人查询）</display-name>
		<servlet-name>MySalaryBillCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.MySalaryBillCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySalaryBillCtrl</servlet-name>
		<url-pattern>/m/my_salary</url-pattern>
	</servlet-mapping>
	
	<!-- ======异动管理====== -->
	<servlet>
		<display-name>异动单（草稿）</display-name>
		<servlet-name>TransferStartCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.TransferStartCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferStartCtrl</servlet-name>
		<url-pattern>/m/tran_start</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>异动单（待办）</display-name>
		<servlet-name>TransferDealCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.TransferDealCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferDealCtrl</servlet-name>
		<url-pattern>/m/tran_deal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>异动单（跟踪）</display-name>
		<servlet-name>TransferTrackCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.TransferTrackCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferTrackCtrl</servlet-name>
		<url-pattern>/m/tran_track</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>异动单（归档）</display-name>
		<servlet-name>TransferArchCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.TransferArchCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferArchCtrl</servlet-name>
		<url-pattern>/m/tran_arch</url-pattern>
	</servlet-mapping>
	
	<!-- ======转正管理====== -->
	<servlet>
		<display-name>转正单（草稿）</display-name>
		<servlet-name>PositiveStartCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.PositiveStartCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositiveStartCtrl</servlet-name>
		<url-pattern>/m/posi_start</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>异转正单（待办）</display-name>
		<servlet-name>PositiveDealCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.PositiveDealCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositiveDealCtrl</servlet-name>
		<url-pattern>/m/posi_deal</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>转正单（跟踪）</display-name>
		<servlet-name>PositiveTrackCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.PositiveTrackCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositiveTrackCtrl</servlet-name>
		<url-pattern>/m/posi_track</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>转正单（归档）</display-name>
		<servlet-name>PositiveArchCtrl</servlet-name>
		<servlet-class>org.eapp.oa.hr.ctrl.PositiveArchCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositiveArchCtrl</servlet-name>
		<url-pattern>/m/posi_arch</url-pattern>
	</servlet-mapping>
	
	<!-- ======数据字典====== -->
	<servlet>
		<display-name>数据字典</display-name>
		<servlet-name>DataDictCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.system.ctrl.DataDictCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DataDictCtrl</servlet-name>
	    <url-pattern>/m/data_dict</url-pattern>
	</servlet-mapping>
	
	<!-- ======设备管理====== -->
	<!-- 设备管理 -->
	<servlet>
		<display-name>设备属性</display-name>
		<servlet-name>DevicePropertyCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.device.ctrl.DevicePropertyCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevicePropertyCtrl</servlet-name>
		<url-pattern>/m/dev_prop</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>设备类别</display-name>
		<servlet-name>DeviceClassCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.device.ctrl.DeviceClassCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DeviceClassCtrl</servlet-name>
	    <url-pattern>/m/device_class</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>IT设备区域配置</display-name>
		<servlet-name>DeviceAreaCfgCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.device.ctrl.DeviceAreaCfgCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DeviceAreaCfgCtrl</servlet-name>
	    <url-pattern>/m/device_areacfg</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>设备检查项</display-name>
		<servlet-name>DeviceCheckItemCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.device.ctrl.DeviceCheckItemCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceCheckItemCtrl</servlet-name>
		<url-pattern>/m/device_check_item</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>设备类型授权</display-name>
		<servlet-name>DeviceClassAssignCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.device.ctrl.DeviceClassAssignCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DeviceClassAssignCtrl</servlet-name>
	    <url-pattern>/m/device_assgin</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>设备管理</display-name>
		<servlet-name>DeviceManageCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.device.ctrl.DeviceManageCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DeviceManageCtrl</servlet-name>
	    <url-pattern>/m/it_dev_man</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>我名下的设备</display-name>
		<servlet-name>MyUseDeviceCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.device.ctrl.MyUseDeviceCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyUseDeviceCtrl</servlet-name>
		<url-pattern>/m/device_myuse</url-pattern>
	</servlet-mapping>
	<!-- 设备领用 -->
	<servlet>
		<display-name>设备领用流程（草稿）</display-name>
	    <servlet-name>DevApplyDrafCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.device.ctrl.DevApplyDrafCtrl</servlet-class>
  	</servlet>
 	<servlet-mapping>
	    <servlet-name>DevApplyDrafCtrl</servlet-name>
	    <url-pattern>/m/dev_apply_start</url-pattern>
 	</servlet-mapping>
 	<!-- 设备调拨-->
	<servlet>
		<display-name>设备调拨流程（草稿）</display-name>
		<servlet-name>DevAllocationDrafCtrl</servlet-name>
		<servlet-class>org.eapp.oa.device.ctrl.DevAllocationDrafCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevAllocationDrafCtrl</servlet-name>
		<url-pattern>/m/dev_alc_start</url-pattern>
	</servlet-mapping>	
	<!-- 设备报废 -->
	<servlet>
		<display-name>设备报废流程（草稿）</display-name>
		<servlet-name>DevDiscardDrafCtrl</servlet-name>
		<servlet-class>org.eapp.oa.device.ctrl.DevDiscardDrafCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevDiscardDrafCtrl</servlet-name>
		<url-pattern>/m/dev_discard_start</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>设备待办列表</display-name>
		<servlet-name>DevFlowDealProcessCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.device.ctrl.DevFlowDealProcessCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevFlowDealProcessCtrl</servlet-name>
		<url-pattern>/m/dev_deal</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>设备起草列表</display-name>
		<servlet-name>DevFlowStartProcessCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.device.ctrl.DevFlowStartProcessCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevFlowStartProcessCtrl</servlet-name>
		<url-pattern>/m/dev_start</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>设备跟踪列表</display-name>
		<servlet-name>DevFlowTrackProcessCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.device.ctrl.DevFlowTrackProcessCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevFlowTrackProcessCtrl</servlet-name>
		<url-pattern>/m/dev_track</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>设备归档列表</display-name>
		<servlet-name>DevFlowArchProcessCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.device.ctrl.DevFlowArchProcessCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DevFlowArchProcessCtrl</servlet-name>
		<url-pattern>/m/dev_arch</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>设备查询统计</display-name>
		<servlet-name>DeviceQueryStatisticsCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.device.ctrl.DeviceQueryStatisticsCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceQueryStatisticsCtrl</servlet-name>
		<url-pattern>/m/query_statistic</url-pattern>
	</servlet-mapping>
	
	<!-- 知识库============================ -->
	<servlet>
		<display-name>知识库</display-name>
	    <servlet-name>KnowledgeCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.kb.ctrl.KnowledgeCtrl</servlet-class>
   	    <init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>-1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>KnowledgeCtrl</servlet-name>
	    <url-pattern>/m/knowledge</url-pattern>
	</servlet-mapping>
	
  	<!-- 参数设置 -->
	<servlet>
		<display-name>标签管理</display-name>
	    <servlet-name>LableLibCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.kb.ctrl.LableLibCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>LableLibCtrl</servlet-name>
	    <url-pattern>/m/kb_label</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>知识库索引</display-name>
	    <servlet-name>KnowledgeIndexCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.kb.ctrl.KnowledgeIndexCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>KnowledgeIndexCtrl</servlet-name>
	    <url-pattern>/m/kb_index</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>知识库操作日志</display-name>
	    <servlet-name>KnowledgeLogCtrl</servlet-name>
	    <servlet-class>org.eapp.oa.kb.ctrl.KnowledgeLogCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>KnowledgeLogCtrl</servlet-name>
	    <url-pattern>/m/kb_log</url-pattern>
	</servlet-mapping>	
	
	<!-- 会议管理===================== -->
  	<servlet>
  		<display-name>会议室管理</display-name>
    	<servlet-name>MeetingRoomCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.meeting.ctrl.MeetingRoomCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>MeetingRoomCtrl</servlet-name>
    	<url-pattern>/m/meet_param</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<display-name>会议查询</display-name>
    	<servlet-name>MeetingQueryCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.meeting.ctrl.MeetingQueryCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>MeetingQueryCtrl</servlet-name>
    	<url-pattern>/m/meet_query</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<display-name>会议信息查询</display-name>
    	<servlet-name>MeetingInfoCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.meeting.ctrl.MeetingInfoCtrl</servlet-class>
    	<init-param>
			<param-name>maxUploadSize</param-name>
			<param-value>-1</param-value>
		</init-param>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>MeetingInfoCtrl</servlet-name>
    	<url-pattern>/m/meet_info</url-pattern>
  	</servlet-mapping>	
  	
  	<!-- 出差管理===================== -->
  	<servlet>
		<display-name>出差流程配置</display-name>
		<servlet-name>BusTripFlowConfCtrl</servlet-name>
		<servlet-class>org.eapp.oa.travel.ctrl.BusTripFlowConfCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusTripFlowConfCtrl</servlet-name>
		<url-pattern>/m/trip_param</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>出差启动</display-name>
		<servlet-name>BusTripApplyStartCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.travel.ctrl.BusTripApplyStartCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusTripApplyStartCtrl</servlet-name>
		<url-pattern>/m/trip_start</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>出差待办</display-name>
		<servlet-name>BusTripApplyDealCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.travel.ctrl.BusTripApplyDealCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusTripApplyDealCtrl</servlet-name>
		<url-pattern>/m/trip_deal</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>出差跟踪</display-name>
		<servlet-name>BusTripApplyTrackCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.travel.ctrl.BusTripApplyTrackCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusTripApplyTrackCtrl</servlet-name>
		<url-pattern>/m/trip_track</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>出差归档</display-name>
		<servlet-name>BusTripApplyArchCtrl</servlet-name>
		<servlet-class>
			org.eapp.oa.travel.ctrl.BusTripApplyArchCtrl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusTripApplyArchCtrl</servlet-name>
		<url-pattern>/m/trip_arch</url-pattern>
	</servlet-mapping>	
	<servlet>
  		<display-name>管理员查询</display-name>
    	<servlet-name>AdminTrackCtrl</servlet-name>
    	<servlet-class>org.eapp.oa.travel.ctrl.AdminTrackCtrl</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>AdminTrackCtrl</servlet-name>
    	<url-pattern>/m/trip_admin_track</url-pattern>
 	 </servlet-mapping>
	
  	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/eapp.tld</taglib-uri>
			<taglib-location>/WEB-INF/eapp.tld</taglib-location>
		</taglib>
  	</jsp-config>
  	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>   
		<session-timeout>240</session-timeout>   
	</session-config>  
</web-app>
