<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- 加载spring配置文件(as:applicationContext.xml) -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
 	<!-- 指明spring配置文件在何处 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
       	<param-value>
       		/WEB-INF/classes/spring.xml
       	</param-value>
	</context-param>
	
	<!-- servlet 编码过滤器 -->
	<filter>
		<filter-name>CharacterEncoding Filter</filter-name>
		<filter-class>
			org.eapp.util.web.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncoding Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 单点退出 -->
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 单点登录 -->
	<filter>
		<filter-name>CAS Filter</filter-name>
		<filter-class>
			org.eapp.pos.cas.filter.CASFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/m/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
    	<filter-name>CAS Filter</filter-name>
    	<url-pattern>/l/*</url-pattern>
 	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/page/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/upload/*</url-pattern>
	</filter-mapping>


	<!-- 附件过滤器 -->
	<filter>
		<filter-name>FileFilter</filter-name>
		<filter-class>
			org.eapp.util.web.upload.FileFilter
		</filter-class>
		<init-param>
			<param-name>fileNameEncoding</param-name>
			<param-value>iso-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>fileNameToEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FileFilter</filter-name>
		<url-pattern>/upload/*</url-pattern>
	</filter-mapping>
	
	<!-- servlet 监听器 -->
	<listener>
		<listener-class>
			org.eapp.pos.util.ServletListener
		</listener-class>
	</listener>
	
	<!-- 加载struts2核心 -->
 	<filter>
  		<filter-name>struts2</filter-name>
  		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>  
 	</filter>
	<filter-mapping> 
  		<filter-name>struts2</filter-name>
  		<url-pattern>/m/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping> 
  		<filter-name>struts2</filter-name>
  		<url-pattern>/l/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping> 
  		<filter-name>struts2</filter-name>
  		<url-pattern>/c/*</url-pattern>
 	</filter-mapping>
 	
 	
  	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/eapp.tld</taglib-uri>
			<taglib-location>/WEB-INF/eapp.tld</taglib-location>
		</taglib>
  	</jsp-config>
  	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>   
		<session-timeout>240</session-timeout>   
	</session-config>  
</web-app>
